@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto&family=Roboto+Mono:ital,wght@0,100;0,400;1,300&display=swap');
body {
    text-align: center;
    font-family: "Roboto Mono";
}
#main-title {
    font-size: 50px;
    text-decoration: none;
}
#ownersname {
    font-size: 2em;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height:100px;
    background:#ccc;
}