@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;500&family=Poppins:wght@100;200;600;700&family=Roboto:wght@500&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #215CAD   ;
  --secondary-color: #FDFDFD ;
  --accent1-color: #EEE1D9;
  --accent2-color: #0C3A84;
  --accent3-color: #B88984;

  /* change the values below to your chosen font(s) */
  --heading-font: 'Poppins', Arial, sans-serif;
  --subttitle-font: 'Roboto', Arial, sans-serif;
  --paragraph-font: 'Lexend', Arial, sans-serif;;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #215CAD;  /* headlines on a white background */ 
  --headline-color-on-color: #FDFDFD; /* headlines on a colored background */ 
  --paragraph-color-on-white: #215CAD; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #FDFDFD; /* paragraph text on a colored background */ 
  --paragraph-background-color: #215CAD;
  --nav-link-color: #FDFDFD;
  --nav-background-color: #215CAD;
  --nav-hover-link-color: #215CAD;
  --nav-hover-background-color: #FDFDFD;
}
body {
    text-align: center;
    font-family: var(--subttitle-font);
    font-weight: 200;
    background-color: var(--primary-color);
    font-size: 22px;
    margin: 0;
    padding: 0;
}
.logo {
    width: 200px;
    margin-left: 100px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background: rgba(0, 0, 0, 0.5);
}
nav {
    display: flex;
    justify-content: left;
    margin-left: 10%;
}
nav a {
    text-align: center;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 35px;

}
nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-background-color);

}
#top-page {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#top-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#top-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 500px;
    background: rgba(0, 0, 0, 0.5);
}
#top-msg h1, #top-msg h4 {
    text-align: center;
}
#top-msg h4{
    color: white;
}
#top-img {
    width: 100%;/*lets this object set their size to the 100% of the page*/
}
.home-title {
    font-family: var(--heading-font);
    font-weight: 700;
    font-size: 2em;
    margin-top: 10px;
    color: var(--headline-color-on-color);
}
main section {
    text-align: center;
}
main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
}
.post-grid {
    color: var(--secondary-color);
}
.blog-card {
    color: var(--headline-color-on-color);
    grid-column: 3/9;
    grid-row: 2/4;
}
.blog1-card {
    color: var(--headline-color-on-color);
    grid-column: 3/9;
    grid-row: 5/7;
}
.blog2-card {
    color: var(--headline-color-on-color);
    grid-column: 3/9;
    grid-row: 7/9;
}
/* this part is mainly for the blog pages and the beaches subpages
anything for the index or main child pages goes above this lines
*/
.blog-tittle{
    font-family: 'Poppins', bold, sans-serif;
    font-weight: 700;
    color: var(--headline-color-on-color);
    font-size: 3em;
    margin: 60px 0;
}
.Blog-subtitle {
    font-family: var(--subttitle-font);
    font-weight: 500;
    color: var(--headline-color-on-color);
}
.top-blog-img img{
    width: 600px;
    height: 400px;
    justify-content: center;
}
.blog-post {
    font-family: 'Lexend', medium light, sans-serif;
    color: var(--headline-color-on-color);
    text-align: justify;
    grid-column: 4/8;
    grid-row: 1/8;
}
.post-card {
    grid-column: 4/8;
    grid-row: 2/4;
}
.post2-card {
    grid-column: 4/8;
    grid-row: 5/7;
}
.post3-card {
    grid-column: 4/8;
    grid-row: 8/10;
}
.blog-post-grid{
    margin: 60px auto;
}
footer {
    background-color: var(--accent2-color);
    color: var(--paragraph-color-on-color);
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a:hover {
    color: var(--accent1-color);
    text-decoration: none;
}
footer a {
    color: var(--headline-color-on-color);
    text-decoration: none; /*'none' deletes the underline for the links and 'underlines' adds them */
    margin-top: 200px;
}
footer p {
    font-size: 1.2em;
}  
footer .social img {
    padding-top: 15px;
    padding: 15px;
}
/*this part below is only the form, anything above to the next comment is for subpages or extra stuff
*/
#contactus-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
#contact-form { /* this is not working, it is using the grid from main and not the ned one for this class*/
    grid-column: 4/8;
    grid-row: 1/2;
    margin-top: 5px;
}
#feedback {
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* make this element invisible until we are ready for it */
    display: none;      
}
.moveDown {
    margin-top: 3em;
}
form {
/* Center the form on the page */
    margin: 0 auto;
    width: 400px;
    /* Form outline */
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
li {
    list-style: none; 
}
form li + li {
    margin-top: 1em;
}  
label {
    /* Uniform size & alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}  
input,
textarea {
    /* To make sure that all text fields have the same font settings
        By default, textareas have a monospace font */
    font: 1em sans-serif;
      
    /* Uniform text field size */
    width: 300px;
    box-sizing: border-box;
      
    /* Match form field borders */
    border: 1px solid #999;
}  
input:focus,
textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}
      
textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;
      
    /* Provide space to type some text */
    height: 5em;
}  
.button {
    /* Align buttons with the text fields */
    padding-left: 90px; /* same size as the label elements */
        
}  
button {
    /* This extra margin represent roughly the same space as the space
    between the labels and their text fields */
    margin-left: 0.5em;
}
    /*end of form style*/